<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.mem0.prd</string>
    
    <key>ProgramArguments</key>
    <array>
        <string>/Volumes/Data/ai_projects/mem0-system/deploy_prd.sh</string>
        <string>up</string>
    </array>
    
    <key>WorkingDirectory</key>
    <string>/Volumes/Data/ai_projects/mem0-system</string>
    
    <key>RunAtLoad</key>
    <true/>
    
    <key>KeepAlive</key>
    <false/>
    
    <key>StandardOutPath</key>
    <string>/tmp/mem0_prd_launchd.log</string>
    
    <key>StandardErrorPath</key>
    <string>/tmp/mem0_prd_launchd_error.log</string>
    
    <key>EnvironmentVariables</key>
    <dict>
        <key>PATH</key>
        <string>/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
    </dict>
</dict>
</plist>
